.data-element-container {
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: 1025px) {
    .data-element-container {
        width: 90%;
    }
}

@media (max-width: 420px) {
    .data-element-container {
        width: 85%;
    }
}
