.editor-input-cell {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.editor-input-cell-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.dataset-data-new-column-name {
    width: 80%;
}

@media (max-width: 970px) {
    .dataset-data-new-column-name {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .dataset-data-new-column-name {
        width: 50%;
    }
}

.dataset-data-new-column-name,
.dataset-data-add-data-button,
.dataset-data-submit-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px !important;
    margin-bottom: 30px !important;
    height: 30px;
}

@media (max-width: 900px) {
    .dataset-data-new-column-name,
    .dataset-data-add-data-button {
        margin-bottom: 10px !important;
    }
}
