.button-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20x;
}

.custom-border {
    border: 1px dashed black;
    border-radius: var(--default-border-radius);
    padding: 15px;
}
