.custom-menu-item {
    padding-right: 20px;
}

.custom-mini-menu-item:hover {
    background-color: rgb(245, 245, 245) !important;
}

@media (width < 900px) {
    .menu-button {
        background-color: transparent !important;
        color: black !important;
        text-transform: none !important;
        font-weight: normal !important;
        font-size: 16px !important;
    }
}

.mini-menu-items * {
    min-height: 0 !important;
}
