:root {
    --primary-color: #1976d2;
    --default-border-radius: 15px;
}

html {
    overflow-y: scroll;
}

a {
    text-decoration: none;
    color: black;
}

body,
html,
.custom-font {
    letter-spacing: normal !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

* {
    letter-spacing: normal !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
