:root {
    --primary-color: #1976d2;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

body,
html,
.custom-font {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}
