input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 100px white inset !important;
}

:root {
    --primary-color: #1976d2;
    --secondary-color: #ffa600;
    --default-border-radius: 15px;
}

html {
    overflow-y: scroll;
}

body,
html {
    letter-spacing: normal !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

* {
    letter-spacing: normal !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

a {
    text-decoration: none;
    color: black;
}

input[type="number"].numeric-input-no-arrows::-webkit-outer-spin-button,
input[type="number"].numeric-input-no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].numeric-input-no-arrows {
    -moz-appearance: textfield;
}

.inner-container-style {
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.inner-container-style-success {
    font-size: 18px;
}

.custom-container {
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}

@media (max-width: 1600px) {
    .custom-container {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .custom-container {
        width: 80%;
    }
}

@media (max-width: 1025px) {
    .custom-container {
        width: 90%;
    }
}

@media (max-width: 420px) {
    .custom-container {
        width: 85%;
    }
}

.custom-form-component-margin-top {
    margin-top: 40px !important;
}

.custom-form-component-margin-bottom {
    margin-bottom: 40px !important;
}

.custom-form-component-margin-top-small {
    margin-top: 20px !important;
}

.custom-form-component-margin-bottom-small {
    margin-bottom: 20px !important;
}

@media (max-width: 599px) {
    .custom-form-component-margin-top-sm {
        margin-top: 40px !important;
    }
}

.code {
    text-align: center;
    white-space: pre;
    font-family: "Noto Sans Mono", monospace !important;
}
